<nav class="navbar navbar-inverse" margin-bottom="0px">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Have Questions? Ask Me</a>
      </div>

      <ul class="nav navbar-nav navbar-right" >
        <li>
          <div class="navbar-text"><%= current_user_email %></div>
        </li>
        <li><form><a href="#" class="btn btn-success navbar-btn btn-sm" role="button" data-toggle="modal" data-target="#new-question-modal">Ask Question</a></form></li>
      </ul>
    </div>
  </nav>