<ul class="media-list">
  <li class="media media-middle">
    <div class="media-left">
      <a href="#">
        <img class="media-object" width="50px" height="50px" src="/images/user-icon.png" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">abc@gmail.com asked:</h4>
      What is the capital of Sweden?
    </div>
    <div class="media-right">
      <a href="/questions/1" class="btn btn-success btn-sm" role="button">View Answer</a>
    </div>
  </li>
  <li  class="media media-middle">
    <div class="media-left">
      <a href="#">
        <img class="media-object" width="50px" height="50px" src="/images/user-icon.png" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">xyz@gmail.com asked:</h4>
      What is zorbing?
    </div>
    <div class="media-right">
      <a href="/questions/2" class="btn btn-success btn-sm" role="button">View Answer</a>
    </div>
  </li>
  <li  class="media media-middle">
    <div class="media-left">
      <a href="#">
        <img class="media-object" width="50px" height="50px" src="/images/user-icon.png" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">abc@gmail.com asked:</h4>
      What are the 2 most scary words you've ever heard?
    </div>
    <div class="media-right">
      <a href="/questions/3" class="btn btn-success btn-sm" role="button">View Answer</a>
    </div>
  </li>
</ul>


      