<ul class="media-list">
  <li class="media media-middle lead well">
    <div class="media-left">
      <a href="#">
        <img class="media-object" width="50px" height="50px" src="/images/user-icon.png" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">abc@gmail.com answered:</h4>
      What is the capital of Sweden?
    </div>
  </li>

<form class="media-right" >
  <div class="media-right">
    <a href="#" class="btn btn-success btn-sm" role="button" data-toggle="modal" data-target="#new-answer-modal">Submit Answer
    </a>
  </div>
</form>

<%= render "home/new_answer_form" %>

  <li class="media media-middle">
    <div class="media-left">
      <a href="#">
        <img class="media-object" width="50px" height="50px" src="/images/user-icon.png" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">abc@gmail.com answered:</h4>
      Stockholm
    </div>
  </li>
  <li  class="media media-middle">
    <div class="media-left">
      <a href="#">
        <img class="media-object" width="50px" height="50px" src="/images/user-icon.png" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">xyz@gmail.com answered:</h4>
      The last time I checked it was Stockholm!
    </div>
  </li>
  <li  class="media media-middle">
    <div class="media-left">
      <a href="#">
        <img class="media-object" width="50px" height="50px" src="/images/user-icon.png" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">bob@gmail.com answered:</h4>
      The capital of Sweden is Stockholm. 
    </div>
  </li>

</ul>